* {
	font-family: "Helvetica", "Arial";
	margin: 0px;
	padding: 0px;
}

body {
	padding: 10px;
}

#container {
	padding: 10px;
	background-color: #CCCCCC;
}

ul {
	margin-left: 20px;
}
